# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧠 Виртуальное окружение
venv/
.env/

# 🔐 Переменные окружения
.env

# 🗂 Логи
logs/
*.log

# 📦 Кеш
.cache/

# 🖥 VS Code
.vscode/

# 🧪 Тесты / временные файлы
*.tmp
*.temp

# 📰 Кеш новостей
post.json
seen_news.txt

# 🐧 Системные файлы
.DS_Store
Thumbs.db